<div class="flex flex-row justify-center">
    <% if current_user && current_user.twitter_accounts.length >= 1 %>
        <div class="mt-20 w-1/2 p-4 bg-teal-50 shadow-lg drop-shadow-2xl">
            <h1 class="pl-2 pb-2 mb-2 text-3xl text-slate-700 border-b-2 border-slate-200 font-semibold">New Post</h1>
            
                <%= render "form", post: @post %>
        </div>
    <% elsif current_user %>
        <div class="mt-20 w-1/2 p-4 bg-red-400 shadow-lg drop-shadow-2xl">
            <p class="p-2 mb-2 text-lg text-white border-slate-200 font-semibold text-center">Connect a Twitter Account Create a new Post</p>
        </div>
    <% end %>
</div>

